.cardBox {
  display: flex;
  width: 100%;
  height: auto;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  // padding:5rem;
  li {
    padding: 2rem;
    border: 1px black solid;
    flex: 1;
    height: 14rem;
    flex-direction: column;
    justify-content: center;
    gap: 2rem !important;
    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 38px;
      text-align: left;
    }
    a {
      font-family: Inter;
      font-size: 16px;
      font-weight: 700;
      line-height: 38px;
      text-align: left;
      color: #30087d;
    }
  }
}
