@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{


}


body{
    font-family: "Inter";
}

button {
    width: 9.0625rem;
    height: 2.9375rem;
    background-color: #0087D3;
    color: #FFFFFF;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.21rem;

  }